/* FORECAST CSS*/

/* Forecast - Contenedor general*/
p {
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  justify-content: start;
}

.insideContent {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: flex;
}

.info {
  padding: 20px;
  height: 100%;
}

.divInterior {
  border: 1px solid;
  border-radius: 8px;
  margin-bottom: 10px;
  background-image: url("../../Images/Rain.jpg");
  background-size: cover;
  color: white;
  background-position: center; /* Centra la imagen en el contenedor */
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 100%;
}

.interiorWithBackground {
  background-color: rgba(2, 2, 66, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.8);
}

.divInterior select {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(119, 119, 138, 0.5);
  color: white;
  font-weight: bold;
}

.main {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.secondary {
  width: 35%;
  height: 100%;
  color: white;
}

.secondaryInsideDiv {
  height: 100%;
  padding: 20px;
  background-color: rgba(2, 2, 66, 0.8);
  border-radius: 8px;
}

.divWeekForecast {
  width: 100%;
}

.divWeekForecast ul {
  width: 100%;
}

.dayForecastIndividual {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 4px;
  border-bottom: 1px solid rgba(156, 156, 158, 0.4);
  margin-bottom: 4px;
}

.dayForecastIndividual p {
  margin: 0;
}

.dayList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: auto;
}

.contentSecondaryDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contentListDays {
  height: 100%;
  overflow: auto;
}
.contentListDays h5 {
  margin: 0;
}
.contentListDays h2 {
  font-size: x-large;
}

.divAnalysis {
  display: flex;
  height: 100%;
}

.analysisInterior {
  padding: 20px;
  background-image: none;
}

.imgDayForecast {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: auto;
  height: 100%;
}

.imgDayForecast img {
  width: 100%;
  height: 100%;
}

/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .content {
    padding: 0;
  }
  .insideContent {
    flex-direction: column;
    width: 100%;
  }
  .main,
  .secondary {
    width: 100%;
  }

  .infoGeneralSelect {
    flex-direction: column;
  }
}
