/* FORECAST CSS*/

/* Forecast - Container general*/
.container {
  height: 20%;
  width: 100%;
  position: relative;
  z-index: 1;
  color: white;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-weight: bold;
}

.title p {
  margin: 0;
  width: -webkit-fill-available;
}

.title h2 {
  font-weight: bold;
  width: 33%;
  margin: 0 !important;
}
